<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5'>
    <div class='row'>
      <div class='col-md-3'>
        <%= render 'devise/shared/user_info',book: @book_new,user: @user %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Book detail</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              
            </tr>
          </thead>
          <table class = "table">
          <tbody>
            <tr>
              <td>
                <%= link_to(user_path(@user)) do %>
                    <% if @user.profile_image.attached? %>
                      <%= link_to image_tag(@user.profile_image, width: "50px", height: "50px"), user_path(@user) %>
                    <% else %>
                      <%= link_to image_tag('default-image.jpg', width: "70px", height: "70px"), user_path(@user) %>
                    <% end %>
                <% end %>
                <br>
                <%= link_to @user.name, user_path(@user) %>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <% if current_user.id == @user.id %>
                <td><%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-success' %></td>
                <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>