<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "/", class: "navbar-brand" do %>
        <span>Bookers</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user), class: "nav-link text-light" do %>
              <%= content_tag(:i, "", class: "fas fa-home") %> Home
            <% end %>
          </li>
          <li>
            <%= link_to "/users", class: "nav-link text-light" do %>
              <%= content_tag(:i, "", class: "fas fa-users") %> Users
            <% end %>
          </li>
          <li>
            <%= link_to "/books", class: "nav-link text-light" do %>
              <%= content_tag(:i, "", class: "fas fa-book-open") %> Books
            <% end %>
          </li>
          <li>
            <%= link_to "/users/sign_out", class: "nav-link text-light", rel: "nofollow", data: { method: "delete" } do %>
              <%= content_tag(:i, "", class: "fas fa-sign-out-alt") %> Log out
            <% end %>
          </li>
          <% else %>
          
          <li>
            <%= link_to "/", class: "nav-link text-light" do %>
              <%= content_tag(:i, "", class: "fas fa-home") %> Home
            <% end %>
          </li>
          
          <li>
            <%= link_to "/home/about", class: "nav-link text-light" do %>
              <%= content_tag(:i, "", class: "fas fa-link") %> About
            <% end %>
          </li>
          
          <li>
            <%= link_to "/users/sign_up", class: "nav-link text-light" do %>
              <%= content_tag(:i, "", class: "fas fa-user-plus") %> Sign up
            <% end %>
          </li>
          
          <li>
            <%= link_to "/users/sign_in", class: "nav-link text-light" do %>
              <%= content_tag(:i, "", class: "fas fa-sign-in-alt") %> Log in
            <% end %>
          </li>
        <% end %>  
        </ul>
      </div>
    </div>
  </nav>
</header>